#!/bin/bash

sleep ${initial_wait}
response=0
retries=0
echo "checking ATC service availability..."
while [ $response -ne 200 ] && [ $retries -lt ${retry_limit} ]
do
    response=$(curl -kL -u "${bigip_user}:${bigip_password}" \
        --write-out '%%{http_code}' \
        --silent \
        --output /dev/null \
        https://${bigip_address}${bigip_atc_status_endpoint}) 
    retries=$(($retries+1))
    echo "ATC endpoint for service status: $response"
    if [ $response -eq 200 ]; then
        break 
    fi
    sleep ${poll_interval}
done
if [ $response -ne 200 ]; then
    echo "ERROR: ATC SERVICE IS UNAVAILABLE"
    exit 255
fi
retries=0
response=0
while [ $response -ne 200 ] && [ $retries -lt ${retry_limit} ]
do
    sleep ${poll_interval}
    response=$(curl -kL -u "${bigip_user}:${bigip_password}" \
        --write-out '%%{http_code}' \
        --silent \
        --output /dev/null \
        https://${bigip_address}${bigip_atc_endpoint}) 
    retries=$(($retries+1))
    echo "ATC endpoint service availability: $response"
    case $response in
        200)
        echo "ATC service available for use"
        break
        ;;
        202)
        echo "ATC service in use"
        ;;
        422)
        echo "ATC service in failed state - likely from a previous run."
        response=200
        break
        ;;
        4* | 5*)
        echo "ATC service in failed state - this may be transient"
        ;;
        *)
        echo "unexpected ATC service availability"
        ;;
    esac
done 
if [ $response -ne 200 ]; then
    echo "ERROR: ATC SERVICE IS UNAVAILABLE"
    exit 255
fi
sleep ${initial_wait}
response=$(curl -s -k -X POST https://${bigip_address}${bigip_atc_endpoint} \
        -H 'Content-Type: application/json' \
        --write-out '%%{http_code}' \
        --silent \
        --max-time 600 \
        --retry 50 \
        --retry-delay 15 \
        --retry-max-time 600 \
        --output /dev/null \
        -u "${bigip_user}:${bigip_password}" \
        -d '${bigip_atc_payload}')
echo "ATC payload status: $response"

if (( ${wait_for_completion} == 0 )); then
    exit 0
fi

retries=0
while [ $response -ne 200 ] && [ $retries -lt ${retry_limit} ]
do
    sleep ${poll_interval}
    response=$(curl -kL -u "${bigip_user}:${bigip_password}" \
        --write-out '%%{http_code}' \
        --silent \
        --output /dev/null \
        https://${bigip_address}${bigip_atc_endpoint}) 
    retries=$(($retries+1))
    echo "ATC payload status: $response"
    case $response in
        200)
        echo "payload applied"
        break
        ;;
        202)
        echo "payload in process"
        ;;
        4* | 5*)
        echo "possible transient error"
        ;;
        *)
        echo "unexpected response to payload"
        ;;
    esac
done  

if [ $response -ne 200 ]; then
    echo "ERROR: PAYLOAD FAILED: $response"
    exit 255
fi